<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lotto Results</title>
</head>

<body>
  <h1>Lotto Results</h1>
  <p>The Lotto draw JSON numbers: <%= lotto_draw %></p>

  <p>Your numbers: <%= mylotto %></p>

  <p>Result: <%= result %></p>





</body>

</html>