@{
    ViewData["Title"] = "About";
}

    <div class="text-center">
        <h1 class="display-4">About</h1>

        <p>This page is part of the requirements of the Kristianstad University course:</p>
        <br />
        <p class="font-weight-bold"> Software Development for Web </p>


        <p class="font-weight-bold"> Section 07: ASP.NET and Model View Controller (MVC)</p>
        <p class="font-weight-bold"><a href="https://github.com/Webbprogrammering/websoft/wiki/Build-applications-using-csharp-and-asp-dotnet">Assignment A07</a></p>
    </div>